<!--  
Main component for the project.
-->
<template>
  <div id="app">
    <img
      alt="trivia logo"
      src="https://www.sporcle.com/blog/wp-content/uploads/2019/02/1-25.jpg"
    />
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
};
</script>

<style>
#app {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 60px;
}
html {
  background-color: black;
}
</style>
