<!--
This is the parent class for the startSceen. 
Contains of four child components. 
In the template the events are handled. 
Properties gets sent down to the children that displays the data. 
-->
<template>
  <div class="hello">
    <h1>Enter number of questions</h1>
    <NumberOfQue @numberChange="onChangeNumbers" />

    <h1>Choose Category</h1>

    <select v-model="categoryId">
      <option value="8">Any category</option>
      <Category
        v-for="category in categories"
        :key="category.id"
        :category="category"
      />
    </select>

    <h1>Choose Diffuculty</h1>
    <select v-model="difficultyId">
      <Difficulty
        v-for="(difficulty, index) in difficulties"
        :key="index"
        :difficulty="difficulty"
      />
    </select>
    <div>
      <StartButton @onClickStartGame="handleOnClickStartGame" />
    </div>
  </div>
</template>

<script>
import { getAllCategory } from "../../Util/API.js";
import Difficulty from "./StartScreenDifficulty.vue";
import NumberOfQue from "./StartScreenNumberOfQue.vue";
import Category from "./StartScreenCategory.vue";
import difficulties from "../../Util/difficulties";
import StartButton from "./StartScreenButton.vue";

export default {
  /*
  Components: below is the components for the StartScreen.
  Four different components that builds the sartScreen. 
  */
  components: {
    Difficulty,
    Category,
    NumberOfQue,
    StartButton,
  },
  /*
  The data of this componets exists of:
  Categories: holds the categories available for the quiz.
  Difficulties: contains the different difficulties to choose from.
  Category id and dificulty id.
  NumberOfQue: how many questions the user asked for.
  */
  data() {
    return {
      categories: [],
      difficulties: [],
      categoryId: 8,
      difficultyId: "Any",
      numberOfQue: "10",
    };
  },
  /*
  Description for the methods:
  loadCategories: loads the gategories from the api, getAllCategory is imported from API.js.
  loadDifficulties: loads the different difficultie to choose from, difficulties is imported from difficulties.js
  onChangeNumbers: updates the input value of how many question that is in the input. 
  handleClickStartGame: pushing choosen options to local storage and then sending the user to the quiz page.
  */
  methods: {
    async loadCategories() {
      this.categories = await getAllCategory();
    },
    loadDifficullties() {
      this.difficulties = difficulties;
    },
    onChangeNumbers(n) {
      this.numberOfQue = n;
    },
    handleOnClickStartGame() {
      localStorage.setItem("categoryId", JSON.stringify(this.categoryId));
      localStorage.setItem("difficultyId", JSON.stringify(this.difficultyId));
      localStorage.setItem("numberOfQue", JSON.stringify(this.numberOfQue));
      this.$router.push({ path: `/quiz` });
    },
  },
  /*
  loadCategories and loadDifficulties gets executed when the page is created. 
  */
  created() {
    this.loadCategories();
    this.loadDifficullties();
  },
};
</script>

<style scoped>
h1 {
  background: -webkit-linear-gradient(rgb(7, 120, 250), rgb(185, 2, 221));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
select {
  border-radius: 30px;
  background-color: rgb(7, 120, 250);
  width: 300px;
  color: white;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
