<!--  
StartScreenDifficulty is displaying the difficulties as option.
It adds to a select.
The property difficulty get sent down from the parent. 
-->
<template>
  <option :value="difficulty.type">
    {{ difficulty.type }}
  </option>
</template>

<script>
export default {
  name: "Difficulty",
  props: {
    difficulty: Object,
  },
};
</script>

<style scoped>
</style>