<!--  
The startScreenbutton is emiting to the parent if the button is pressed. 
The parent then is responsible for the logic. 
-->
<template>
  <Button type="Button" @click="onClickStartGame"> Start game </Button>
</template>

<script>
export default {
  methods: {
    onClickStartGame() {
      this.$emit("onClickStartGame");
    },
  },
};
</script>

<style scoped>
button {
  background: -webkit-linear-gradient(rgb(7, 120, 250), rgb(185, 2, 221));
  border-radius: 34px;
  animation: slidebg 2s linear infinite;
  width: 300px;
  height: 60px;
  margin-top: 2%;
}
Button:hover {
  background: -webkit-linear-gradient(rgb(185, 2, 221), rgb(7, 120, 250));
  background-color: #1e62d0;
  animation: slidebg 2s linear infinite;
}
</style>