<!--
StartScreenCategory displays the categories as option. 
It adds to a select.
The property is a certain gategory, sent down from the parent.
-->
<template>
  <option :value="category.id">
    {{ category.name }}
  </option>
</template>

<script>
export default {
  name: "Category",
  props: {
    category: Object,
  },
};
</script>

<style>
option {
  color: white;
}
</style>