<!--  
StartScreenNumberOfQue is an input. 
Takes an input value from the user.<template>
Emmiting to the parent if any changes to the filed is done.
The parent then handles the logic.
The property numberOfQ is the number of question choosen. 
numberOfQ = 10 is just a default value.  
</template>
-->
<template>
  <div>
    <input type="text" @keyup="onChange" v-model="numberOfQ" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      numberOfQ: "10",
    };
  },
  methods: {
    onChange() {
      this.$emit("numberChange", this.numberOfQ);
    },
  },
};
</script>

<style>
input {
  color: white;
  background-color: rgb(7, 120, 250);
  border-radius: 34px;
}
</style>