<template>
  <div class="Questions">
    <ErrorPage
      @onClickHome="routeToHomePage"
      v-if="quiz && (quiz.length === 0 || numberOfQue > 50)"
    />

    <div v-if="quiz && quiz.length > 0 && numberOfQue <= 50">
      <Question :question="decodeString(quiz[currentQuestionIndex].question)" />

      <Answers
        @currentAnswer="handeleCurrentAnswer"
        v-for="(answer, index) in answers"
        :key="index"
        :answer="answer"
      />
    </div>
  </div>
</template>

<script>
import { fetchQuestions } from "../../Util/API.js";
import Question from "./QuizPageRenderQuestion.vue";
import Answers from "./QuizPageAnswerButtons.vue";
import ErrorPage from "./QuizPageError.vue";

export default {
  name: "QuizPage",
  components: {
    Question,
    Answers,
    ErrorPage,
  },
  data() {
    return {
      quiz: null,
      currentQuestionIndex: 0,
      answers: [],
      pointCounter: 0,
      resultArray: [],
      categoryId: 0,
      numberOfQue: 0,
      difficultyId: 0,
    };
  },

  methods: {
    async loadQuestions() {
      this.quiz = await fetchQuestions(
        this.numberOfQue,
        this.categoryId,
        this.difficultyId
      );
      if (this.quiz.length != 0) {
        this.updateAnswers(this.currentQuestionIndex);
      }
    },
    handeleCurrentAnswer(answer) {
      let arr = [
        this.decodeString(this.quiz[this.currentQuestionIndex].question),
        answer,
        this.quiz[this.currentQuestionIndex].correct_answer,
      ];
      this.resultArray.push(arr);
      if (answer === this.quiz[this.currentQuestionIndex].correct_answer) {
        this.pointCounter++;

        if (this.currentQuestionIndex === Number(this.numberOfQue) - 1) {
          this.routeToResultPage();
        } else {
          this.currentQuestionIndex++;
          this.updateAnswers(this.currentQuestionIndex);
        }
      } else {
        if (this.currentQuestionIndex === Number(this.numberOfQue) - 1) {
          this.routeToResultPage();
        } else {
          this.currentQuestionIndex++;
          this.updateAnswers(this.currentQuestionIndex);
        }
      }
    },
    updateAnswers(index) {
      let _ = require("lodash");
      this.answers = [];
      this.quiz[index].incorrect_answers.forEach((x) => {
        this.answers.push(this.decodeString(x));
      });
      this.answers.push(this.decodeString(this.quiz[index].correct_answer));
      this.answers = _.shuffle(this.answers);
    },
    routeToResultPage() {
      localStorage.setItem("pointCounter", JSON.stringify(this.pointCounter));
      localStorage.setItem("resultArray", JSON.stringify(this.resultArray));
      this.$router.push({ path: `/result` });
    },
    routeToHomePage() {
      this.$router.push({ path: `/` });
    },
    decodeString(str) {
      if (typeof str == "string") {
        str = str.replace(/&gt;/gi, ">");
        str = str.replace(/&lt;/gi, "<");
        str = str.replace(/&#039;/g, "'");
        str = str.replace(/&quot;/gi, '"');
        str = str.replace(/&amp;/gi, "&");
      }
      return str;
    },
  },

  async created() {
    this.categoryId = JSON.parse(localStorage.getItem(["categoryId"]));
    this.numberOfQue = JSON.parse(localStorage.getItem(["numberOfQue"]));
    this.difficultyId = JSON.parse(localStorage.getItem(["difficultyId"]));
    await this.loadQuestions();
  },
};
</script>

<style>
</style>