<template>
<!-- Error page -->
  <div>
    <h1>Not valid input parameter, change number of questions.</h1>
    <button @click="onClickHome">Home</button>
  </div>
</template>

<script>
export default {
  methods: {
    // sending an emit to parentclass, with name of a routingmethod that bring you to the "homescreen"
    onClickHome() {
      this.$emit("onClickHome");
    },
  },
};
</script>

<style scoped>
</style>