<template>
<!--This is our buttons with the answer options -->
  <button :value="answer" @click="getAnwser(answer)">{{ answer }}</button>
</template>

<script>
export default {
  name: "answer",
  props: {
    answer: String,
  },
  data() {
    return {
      currentAnswer: "",
    };
  },
  // sending the value of the button to parentsclass.
  methods: {
    getAnwser(value) {
      this.$emit("currentAnswer", value);
    },
  },
};
</script>

<style>
button {
  background: -webkit-linear-gradient(rgb(7, 120, 250), rgb(185, 2, 221));
  border-radius: 34px;
  animation: slidebg 2s linear infinite;
  width: 300px;
  height: 60px;
  font-size: 1rem;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 1%;
  margin-right: 1%;
}
Button:hover {
  background: -webkit-linear-gradient(rgb(185, 2, 221), rgb(7, 120, 250));
  background-color: #1e62d0;
  animation: slidebg 2s linear infinite;
}
</style>