<template>
  <body>
    <!-- Showing question, number of question ,users answer and correct answer -->
    <div>
      <h2 :value="result[0]">
        Question {{ this.$vnode.key + 1 }}: {{ result[0] }}
      </h2>
      <h3 :value="result[1]">You answered: {{ result[1] }}</h3>
      <div class="Ca">
        <h3 :value="result[2]">Correct answer: {{ result[2] }}</h3>
      </div>
    </div>
  </body>
</template>

<script>
export default {
  props: {
    result: Array,
    index: Number,
  },
};
</script>

<style scoped>
div {
  display: inline-block;
}
.Ca {
  border: solid;
  border-color: green;
  background-color: green;
}
</style>

