<template>
  <button type="button" @click="onClickReplay">Replay</button>
</template>

<script>
export default {
  methods: {
    onClickReplay() {
      this.$emit("onClickReplay");
    },
  },
};
</script>

<style scoped>
</style>