<template>
<!-- Showing score -->
  <div>
    <h2>Results:</h2>

    <h3 :value="score" :maxScore="maxScore">
      Your total score: {{ score }}/{{ maxScore }}
    </h3>
  </div>
</template>

<script>
export default {
  props: {
    score: Number,
    maxScore: Number,
  },
};
</script>

<style scoped>
</style>