<template>
  <body>
    <!-- calculating the users result and show it  -->
    <TotalScore :score="this.score" :maxScore="resultArray.length * 10" />

      <!-- Showing question, users answer and correct answer  -->
    <ResultDisplay
      v-for="(result, index) in resultArray"
      :key="index"
      :result="result"
    />
      <!-- Button that brings you to "homepage" -->
    <HomeButton @onClickHome="onClickHome" />
    <!-- Button that restart the game  -->
    <ReplayButton @onClickReplay="onClickReplay" />
  </body>
</template>

<script>
import ResultDisplay from "./ResultPageDisplay.vue";
import TotalScore from "./ResultPageTotalScore.vue";
import HomeButton from "./ResultPageHomeButton.vue";
import ReplayButton from "./ResultPageReplay.vue";

export default {
  components: {
    ResultDisplay,
    TotalScore,
    HomeButton,
    ReplayButton,
  },
  data() {
    return {
      score: 0,
      resultArray: [],
    };
  },
    // get data from local storage, that are stored from quizpage.
    methods: {
    loadResultValues() {
      this.score = JSON.parse(localStorage.getItem(["pointCounter"])) * 10;
      this.resultArray = JSON.parse(localStorage.getItem(["resultArray"]));
    },
    onClickHome() {
      this.$router.push({ path: `/` });
    },
    onClickReplay() {
      this.$router.push({ path: `/quiz` });
    },
  },
  created() {
    this.loadResultValues();
  },
};
</script>

<style>
</style>