<template>
  <button type="button" @click="onClickHome">Home</button>
</template>

<script>
export default {
  methods: {
    onClickHome() {
      this.$emit("onClickHome");
    },
  },
};
</script>

<style scoped>
</style>